# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android
android/.gradle/
android/local.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# iOS
ios/Runner/GeneratedPluginRegistrant.m

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake

# Secrets / env
.env
.env.*
!.env.example
# IDE
.idea/
