gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Signing keys
key.properties
**/*.keystore
**/*.jks

# Environment
.env
.env.*
.env.prod
*.env.prod
